@charset 'utf-8';
.mobile .my_lecture_list td:nth-of-type(1) a {background-image: none !important;}
.mobile .mypage {margin-bottom: 50px;}
.mobile .mypage .category-section {}
.mobile .mypage .category-section>* {display: none;}
.mobile .mypage .category-section>ol {display: block; position: relative; height: 38px;}
.mobile .mypage .category-section>ol>li {width: 24%; float: left; text-align: center; font-weight: 400; border: 1px solid #DDD; margin-right: 1%;} 
.mobile .mypage .category-section>ol>li:last-child {}
.mobile .mypage .category-section>ol>li>a {padding: 8px 0;}
.mobile .mypage .category-section .active { background-color: #1b2d58; border-color: #1b2d58;}
.mobile .mypage .category-section .active>a { color: #fff;}
.mobile .mypage .list-section h2 {display: block; padding: 0.5em 0;}
.mobile .my_lecture_list tr {position: relative; padding-left: 140px; height: 75px; margin: 10px 0; border: 1px solid #DDD;}
.mobile .my_lecture_list td {text-align: left; padding: 0;}
.mobile .my_lecture_list td:first-of-type {float: none;}
.mobile .my_lecture_list td:after {display: inline-block; content: ''; width: 1px; height: 10px; background-color: #000; margin: 0 5px;}
.mobile .my_lecture_list td:nth-of-type(1):after, .mobile .my_lecture_list td:nth-of-type(4):after, .mobile .my_lecture_list td:nth-of-type(5):after  {display: none;}
.mobile .my-lecture-img {position: absolute; left: 0; top: 0; width: 130px; height: 75px; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat;} 
.mobile .my_lecture_list td:first-of-type {font-weight: 400; padding-top: 6px;}
.mobile .my_lecture_list td:nth-of-type(2):before {display: inline; content: 'ì´ ';}
.mobile .my_lecture_list td:nth-of-type(4):before {display: inline; content: 'ìœ íš¨ì¼ : ';}
.mobile .my_lecture_list td:last-of-type:before {display: inline; content: 'ìˆ˜ê°•ì‹ ì²­ì¼ : ';}
.list-section>h2 {display: none !important;}

#mypage-wish-form input, #mypage-wish-form label {display: inline;}
.chk_section {margin: 0.5em 0; font-weight: 400;}
.mobile .wish-list-section {font-size: 0.9em;}
.mobile .wish-list-section .course-wrapper {width: 100%; margin: 0;  position: relative;}
.mobile #mypage-wish-form .cl {position: relative; padding-left: 20px; margin: 5px 0;}
.mobile .wish-chk {position: absolute; left: 0; top: calc(50% - 12px); width: 15px; height: 15px;}

.mobile .payment-section, .mobile .payment-date-check, .mobile .payment-date-check input {font-size: 0.9em;}
.payment-date-check {padding: 20px 0; border: 1px solid #ddd; background-color: #f0f0f0;}
.mobile .payment-date-check>.cl {width: 340px; margin: 0 auto;}
.payment-date-check>.cl>* {float: left;}
.payment-date-check>.cl>div {position: relative; width: 130px; height: 25px;}
.payment-date-check input {width: 100px; height: 25px; border: 1px solid #ddd; padding-left: 5px;}
.btn-calendar {position: absolute; right: 30px; top: 0; background: none; border: 0; color: #666; width: 28px; height: 28px; text-align: center; line-height: 25px; border: 0;}
.date-inquiry {background: none; border: 0; color: #666; width: 80px !important; color: #fff; background: #1b2d58 url('/asset/images/search-solid-wh.svg') 15px center no-repeat; -webkit-background-size: 18%; background-size: 18%; padding-left: 20px !important; font-size: 0.9em;}
.payment-content {padding: 2em 0;}
.mypage h3 {margin: 2em 0 1em; position: relative; padding-top: 10px;}
.mypage h3:before {display: block; content: ''; position: absolute; left: 0; top: 0; width: 30px; height: 1px; background-color: #1b2d58;}
.mypage h3:first-of-type {margin-top: 0;}
.payment-content>a {background-repeat: no-repeat; -webkit-background-size: 120px; background-size: 120px; padding-left: 130px; height: 68px; padding-top: 2px; color: #000; margin: 1em 0;}
.payment-content>a:hover {background-color: #f0f0f0;}
.payment-list {}
.payment-list span {padding-right: 20px;}
.linebar {position: relative;}
.linebar:after {display: block; content: ''; position: absolute; right: 10px; top: 15%; width: 1px; height: 70%; background-color: #ccc;}



.payment-no {font-size: 1.2em; font-weight: 400; padding: 20px 0; border: 1px solid #ddd; background-color: #f0f0f0; text-align: center; margin-bottom: 1em; color: #1b2d58;}
.mobile .payment-no {padding: 10px 0;}
.mobile .payment-detail-table {border: 1px solid #ddd;}
.mobile .payment-detail-table tr {border-bottom: 1px solid #DDD;}
.mobile .payment-detail-table th, .mobile .payment-detail-table td {font-size: 1.1em !important; padding: 10px;}
.mobile .payment-detail-table th:first-of-type, .mobile .payment-detail-table td:first-of-type {display: none;}
.mobile .payment-detail-table th:last-of-type, .mobile .payment-detail-table td:last-of-type {float: right;}
.mobile .payment-detail-table th:nth-of-type(2), .mobile .payment-detail-table td:nth-of-type(2) {font-weight: 400;}

.point-coupon-section>*, .coupon-section>* {margin-bottom: 2em;}
.have-point {position: relative; padding: 20px 0; border: 1px solid #ddd; background-color: #f0f0f0; font-weight: 600; text-align: center; line-height: 40px;}
.have-point span {display: inline-block;}
.have-point:before {display: inline-block; content: ''; width: 36px; height: 36px; background: url('/asset/images/result_point2.svg') 0 0 no-repeat; -webkit-background-size: contain;
background-size: contain; margin-right: 10px; position: relative; top: 10px;}
.have-point>a {position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-indent: -9999em;}
.coupon-form {padding: 20px 0; border: 1px solid #ddd; background-color: #f0f0f0; }
.coupon-form input {height: 36px;}
#coupon-number {border: 1px solid #DDD; width: 55%; padding: 0 0.5em; font-size: 0.9em; margin-left: 5%; text-align: center;}
#coupon-number:focus {color: #000;}
#coupon-button {width: 35%; border: 0; background-color: #1b2d58; color: #FFF ; font-size: 0.9em;}
.coupon-section  button {background-color: #db4c50; color: #fff; border-color: #db4c50; font-size: 0.9em;}
.coupon-section .my_coupon_list .button-used {background-color: #fff; color: #000; border-color: #DDD;}
.my_coupon_list th:nth-of-type(2),.my_coupon_list th:nth-of-type(3),.my_coupon_list th:nth-of-type(4),.my_coupon_list th:nth-of-type(5) {width: 80px;}

.mobile .my_coupon_list #container tr, .mobile .my_point_detail_list #container tr {border: 1px solid #DDD; margin: 1em 0;}
.mobile .my_coupon_list #container td, .mobile .my_point_detail_list #container td {width: 100%; height: 30px; line-height: 30px; text-align: left; padding: 0;}
.mobile .my_coupon_list td:before, .mobile .my_point_detail_list td:before {display: block; margin-right: 0.5em; float: left; color: #1b2d58; font-weight: 400; width: 100px; background-color: #f0f0f0; padding-left: 5px;}
.mobile .my_coupon_list td:nth-of-type(1):before {content: 'ì¿ í°ëª… :'; }
.mobile .my_coupon_list td:nth-of-type(2):before {content: 'ì¿ í°ë²ˆí˜¸ :'; }
.mobile .my_coupon_list td:nth-of-type(3):before {content: 'í• ì¸ë‚´ìš© :'; }
.mobile .my_coupon_list td:nth-of-type(4):before {content: 'ìœ íš¨ê¸°ê°„ :'; }
.mobile .my_coupon_list td:nth-of-type(5):before {content: 'ì‚¬ìš©í˜„í™© :'; }
.mobile .my_point_detail_list td:nth-of-type(1):before {content: 'ë‚ ì§œ :'; }
.mobile .my_point_detail_list td:nth-of-type(2):before {content: 'ê¸ˆì•¡ :'; }
.mobile .my_point_detail_list td:nth-of-type(3):before {content: 'í˜„í™© :'; }
.mobile .my_coupon_list #container td:after, .mobile .my_point_detail_list #container td:after {display: block; content: ''; clear: both;}
.mobile .my_coupon_list #container button {height: 24px; padding: 0; line-height: 24px; width: 80px;text-align: center;}
.mobile .point-section {margin-top: 1em;}
.point-section button {margin: 1em auto;}

@media screen and (min-width: 768px) {
    .mypage .category-section {width: 140px;}
    .mypage .category-section .active a {color: #db4c50;}
    .mypage .list-section {width: calc(100% - 200px); float: left;}
    .user-photo {position: relative; width: 80%; background: url('/asset/images/user_photo.svg') #F0F0F0 center center no-repeat; -webkit-background-size: cover; background-size: cover; margin: 30px auto 10px;}
    .user-photo>img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
    .user-photo:before {display: block; content: ''; padding-top: 133%; }
    .user-name {text-align: center; color: #1b2d58; font-weight: 400;}
    .my_lecture_list td:nth-of-type(3) {width: 50px;}
    .my_lecture_list td:nth-of-type(4) {width: 70px;}
    .my_lecture_list td:nth-of-type(5) {width: 90px;}
    .my_lecture_list td:nth-of-type(6) {width: 90px;}
    .my_lecture_list th:nth-of-type(1), .my_lecture_list td:nth-of-type(1),
    .my_coupon_list th:nth-of-type(1),.my_coupon_list td:nth-of-type(1),
    .offline-list th:nth-of-type(1),.offline-list td:nth-of-type(1)
    {text-align: left; padding-left: 20px;}

    .flex-wrap {display: flex; flex-wrap: wrap;}
    .flex-wrap>.cl {width: 23%; margin: 1%; display: flex; flex-wrap: nowrap; flex-direction: column;}   
    .flex-wrap .course-wrapper {width: 100%;}
    #mypage-wish-form .cl {position: relative;}
    .wish-chk {position: absolute; right: 10px; bottom: 20px; width: 15px; height: 15px; z-index: 1;}
    .course-info-box {padding: 0.4em !important;}
    .wish-btns {width: 40%; margin: 0 auto; margin-top: 30px;}
    .wish-btns .bt {float: left; width: 48%; margin: 15px 1%; font-size: 0.8em;}
    
    .payment-date-check, .have-point {padding: 30px;}
    .payment-date-check>.cl {width: 500px; margin: 0 auto;}
    .payment-date-check>.cl>div {position: relative; width: 200px; height: 30px;}
    .payment-date-check input {width: 150px; height: 30px; border: 1px solid #ddd;}
    .btn-calendar {right: 50px; top: 3px;}
    .date-inquiry {font-size: 1em; width: 100px !important;}
    .payment-content>a {background-repeat: no-repeat; -webkit-background-size: 150px; background-size: 150px; padding-left: 160px; height: 85px; padding-top: 5px; color: #000; margin: 1em 0;}
    
    .mypage .pay_result_section {width: 100% !important;}
    .mypage .pay_result_section .pay_info div {width: 33.333%;}
    .mypage .pay_result_section .pay_info div:last-of-type {width: 100%;}  
    
    .point-section button {width: 250px;}
    .coupon-form {}
    #coupon-number {width: 55%; margin-left: 10%;}
    #coupon-button {width: 25%;}
    
    .my_point_detail_list {}    
    .my_point_detail_list th:nth-of-type(2), .my_point_detail_list th:nth-of-type(3) {width: 150px;}
    .my_point_detail_list *:first-of-type {padding-left: 30px;}
    

}
@media screen and (min-width: 1024px) {

    .my_lecture_list tr {transition:0.3s;}
    .my_lecture_list tr:hover {background-color: #fcfcfc;}
    .my_lecture_list thead tr:hover {background-color: transparent;}   
    .my_lecture_list td a {line-height: 100px; }
    .my-lecture-img {
    	background-size:contain;
    	float: left; width: 178px; 
    	height: 100px; 
    	margin-right: 20px;
    	line-height: 100px;
    	background-repeat: no-repeat; padding-left: 190px; font-weight: 400;
    } 
    .wish-chk {position: absolute; right: 20px; bottom: 24px;}
    .wish-btns .bt {font-size: 1em;}
    .mypage .pay_result_section .pay_info div {width: 20%;}
    .mypage .pay_result_section .pay_info div:last-of-type {width: 40%;} 
    
    .coupon-section .my_coupon_list button {font-size: 1em;}
    .my_coupon_list th:nth-of-type(2),.my_coupon_list th:nth-of-type(3),.my_coupon_list th:nth-of-type(4),.my_coupon_list th:nth-of-type(5) {width: 100px;}
    #coupon-number {width: 60%; font-size: 1em;}
    #coupon-button {width: 20%; font-size: 1em;}

}
@media screen and (min-width: 1280px) {
    .mypage .category-section {width: 200px;}
    .main .list-section {width: calc(100% - 250px); float: left;}
    .my_lecture_list td:nth-of-type(3) {width: 100px;}
    .my_lecture_list td:nth-of-type(4) {width: 120px;}
    .my_lecture_list td:nth-of-type(5) {width: 140px;}
    .my_lecture_list td:nth-of-type(6) {width: 140px;}
    
 
}
@media screen and (min-width: 1420px) {

}