<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Orderbook">

  <resultMap type="Orderbook" id="orderbookmap">
  	<id column="orderbook_id" property="orderbook_id"/>
  	<result column="isbn" property="isbn"/>
  	<result column="orderdate" property="orderdate"/>
  	<association column="member_id" property="member" javaType="Member" select="Member.select"/>
  </resultMap>
  
	<sql id="sql_select">
		select orderbook_id, member_id, isbn, orderdate from orderbook
	</sql>

	<select id="selectAll" resultMap="orderbookmap">
		<include refid="sql_select"/> order by orderbook_id desc
	</select>
	
	<select id="select" parameterType="int" resultMap="orderbookmap">
		<include refid="sql_select"/> where orderbook_id=#{orderbook_id}
	</select>
	
	<select id="selectByMember" parameterType="int" resultMap="orderbookmap">
		<include refid="sql_select"/> where member_id=#{member.member_id}
	</select>
	
	<select id="selectByIsbn" parameterType="String" resultMap="orderbookmap">
		<include refid="sql_select"/> where isbn=#{isbn}
	</select>
	
	<insert id="insert" parameterType="Orderbook">
		insert into orderbook(member_id, isbn, orderdate)
		values(#{member.member_id}, #{isbn}, #{orderdate})
	</insert>
	
	<update id="update" parameterType="Orderbook">
		update orderbook set isbn=#{isbn}, orderdate=#{orderdate} where orderbook_id=#{orderbook_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from orderbook where orderbook_id = #{orderbook_id}
	</delete>
	
	<select id="check" parameterType="Orderbook" resultMap="orderbookmap">
		<include refid="sql_select"/> where member_id=#{member.member_id} and isbn=#{isbn}
	</select>


</mapper>
