<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewComment">
	<resultMap type="ReviewComment" id="reviewCommentMap">
		<id column="reviewComment_id" property="reviewComment_id"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="modidate" property="modidate"/>
		<association column="member_id" property="member" javaType="Member" select="Member.select"/>
		<association column="review_id" property="review" javaType="Review" select="Review.select"/>
	</resultMap>
	
	<sql id="sql_select">
		select reviewComment_id, review_id, member_id, content, regdate, modidate from reviewcomment
	</sql>

	<select id="selectAll" resultMap="reviewCommentMap">
		<include refid="sql_select"/> order by reviewComment_id desc
	</select>
	
	<select id="select" parameterType="int" resultMap="reviewCommentMap">
		<include refid="sql_select"/> where reviewComment_id=#{reviewComment_id}
	</select>
	
	<select id="selectByMember" parameterType="int" resultMap="reviewCommentMap">
		<include refid="sql_select"/> where member_id=#{member_id} order by reviewComment_id desc
	</select>
	
	<select id="selectByReview" parameterType="int" resultMap="reviewCommentMap">
		<include refid="sql_select"/> where review_id=#{review_id} order by reviewComment_id desc
	</select>
	
	<insert id="insert" parameterType="ReviewComment">
		insert into reviewComment(review_id, member_id, content) 
		values(#{review.review_id}, #{member.member_id}, #{content})
	</insert>
	
	<update id="update" parameterType="ReviewComment">
		update reviewComment set review_id=#{review.review_id}, member_id=#{member.member_id}, content=#{content} 
		regdate=#{regdate}, modidate=#{modidate}
		where reviewComment_id=#{reviewComment_id} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from reviewComment where reviewComment_id=#{reviewComment_id}
	</delete>
</mapper>
