<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
	<resultMap type="Review" id="reviewMap">
		<id column="review_id" property="review_id"/>
		<result column="isbn" property="isbn"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="modidate" property="modidate"/>
		<result column="img" property="img"/>
		<association column="member_id" property="member" javaType="Member" select="Member.select"/>
	</resultMap>
	
	<sql id="sql_select">
		select review_id, member_id, isbn, title, content, regdate, modidate, img from review
	</sql>

	<select id="selectAll" resultMap="reviewMap">
		<include refid="sql_select"/> order by review_id desc
	</select>
	
	<select id="selectAllWithLimit" resultMap="reviewMap">
		<include refid="sql_select"/> order by review_id desc limit 3
	</select>
	
	<select id="select" parameterType="int" resultMap="reviewMap">
		<include refid="sql_select"/> where review_id=#{review_id}
	</select>
	
	<select id="selectByMember" parameterType="int" resultMap="reviewMap">
		<include refid="sql_select"/> where member_id=#{member_id}
	</select>
	
	<select id="selectByIsbn" parameterType="String" resultMap="reviewMap">
		<include refid="sql_select"/> where isbn=#{isbn} order by regdate desc
	</select>
	
	<insert id="insert" parameterType="Review">
		insert into review(member_id,isbn, title, content, regdate, modidate, img) 
		values(#{member.member_id},#{isbn}, #{title}, #{content}, #{regdate}, #{modidate}, #{img})
	</insert>

	<update id="update" parameterType="Review">
		update review set isbn=#{isbn}, title=#{title}, content=#{content}, modidate=#{modidate}
		where review_id=#{review_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from review where review_id=#{review_id}
	</delete>
	
	<select id="search" parameterType="String" resultMap="reviewMap">
		select r.review_id, r.member_id, r.isbn, r.title, r.content, r.regdate, r.modidate, r.img 
		from review r, member m
		where ((m.id like CONCAT('%',#{searchWord},'%') OR m.nickname like CONCAT('%',#{searchWord},'%') OR m.name like CONCAT('%',#{searchWord},'%')) AND m.member_id = r.member_id ) 
		OR ((r.title like CONCAT('%',#{searchWord},'%') OR r.content like CONCAT('%',#{searchWord},'%')) AND m.member_id = r.member_id )
	</select>
</mapper>
